.first-1{
    border: 2px solid black;
    text-align: center;
    background-color: blue;
    color: white;
    width: 500px;
    align-items: center;
}
.form-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-1{
    height: 50px;
}